{% extends 'base.html' %}

{% block title %}
    <title>Edit Task</title>
{% endblock title %}

{% block content %}
    <div class='container'>
            </br>
            {% if task_obj.manage== request.user %}
                <form method="POST" class="register">
                        {% csrf_token %}
                        <label class="col-lg-6"> Edit the given </label> 
                        
                        <input type="text" class="form-control col-lg-6" name="task" placeholder="{{task_obj.task}}" value="{{task_obj.task}}"> </input>  

                        <input type="hidden"  name="done"  value="{{task_obj.done}}"> </input>
                        
                        <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
                </form> 
            {% else %}
                  <p> Access restricted--You cannot access this command </p>
            {% endif %}
    </div>
{% endblock content %}