{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Welcome to Taskmate</title>
{% endblock title %}

{% block content %}
     <div class='container'>
      <div class="row mt-5">
        <div class="col-lg-4">
             <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
        </div>
        <div class="col-lg-4">
             <img src="{% static 'images/stickynotes2.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
        </div>
        <div class="col-lg-4">
             <img src="{% static 'images/stickynotes3.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-primary">Easy to write, and ofcourse the best!</p></center>
            <center><p class="h2 mt-3">Quick to write, and you can Edit</p></center>
            <center><p class="h4">Not only to write,Images comming up</p></center>

            <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Lets Start</button></a></center>
        </div>
      </div>
    </div>
  {% endblock content %}